parameters:
  level: max
  paths:
    - composer
  ignoreErrors:
    - message: '#autowire\(\), autoconfigure\(\), and public\(\) are required in config service#'
      paths:
        - composer/packages/web-toolkit-k8s-cli/config/services.php
        - composer/packages/web-toolkit-bundle/src/Resources/config/services.php
    - message: '#Attribute key "repositoryClass" cannot be used#'
      paths:
        - composer/packages/web-toolkit-bundle/src/Entity/PrivacyConsent/PrivacyConsentCategory.php
        - composer/packages/web-toolkit-bundle/src/Entity/PrivacyConsent/PrivacyConsentService.php
    - message: '#The command is missing \$this->setName\("\.\.\."\) in configure\(\) method#'
      paths:
        - composer/packages/web-toolkit-bundle/src/Command/FileStorage/GarbageCollectionCommand.php
        - composer/packages/web-toolkit-bundle/src/Command/FileStorage/SessionsCreateTableCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/AppCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/AppGetCdServiceAccountCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/BasicAuthSecretCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/BasicAuthSecretDeleteCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/ConfigCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/NamespaceCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/NamespaceDeleteCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/PullSecretCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/PullSecretDeleteCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/SuperUserCreateCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/SuperUserDeleteCommand.php
        - composer/packages/web-toolkit-k8s-cli/src/Command/SuperUserGetConfigCommand.php
  bootstrapFiles:
    # Fix class not found error for Symplify\MonorepoBuilder\Release\Contract\ReleaseWorker\ReleaseWorkerInterface
    - vendor/symplify/monorepo-builder/vendor/autoload.php
    # Fix class not found errors for PhpCsFixer
    - vendor/symplify/easy-coding-standard/vendor/autoload.php

includes:
  # TODO: include more rule-sets
  ##- vendor/symplify/phpstan-rules/config/array-rules.neon
  #- vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
  ##- vendor/symplify/phpstan-rules/config/doctrine-rules.neon
  ##- vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
  ##- vendor/symplify/phpstan-rules/config/naming-rules.neon
  - vendor/symplify/phpstan-rules/config/regex-rules.neon
  - vendor/symplify/phpstan-rules/config/services-rules.neon
  ##- vendor/symplify/phpstan-rules/config/static-rules.neon
  - vendor/symplify/phpstan-rules/config/size-rules.neon
  - vendor/symplify/phpstan-rules/config/string-to-constant-rules.neon
  - vendor/symplify/phpstan-rules/config/symfony-rules.neon
  - vendor/symplify/phpstan-rules/config/test-rules.neon
  - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

services:
