parameters:
  level: max
  paths:
    - composer
  ignoreErrors:
    #- message: '#autowire\(\), autoconfigure\(\), and public\(\) are required in config service#'
    #  paths:
    #    - composer/packages/web-toolkit-k8s-cli/config/services.php
    #    - composer/packages/web-toolkit-bundle/src/Resources/config/services.php
  bootstrapFiles:
    # Fix class not found error for Symplify\MonorepoBuilder\Release\Contract\ReleaseWorker\ReleaseWorkerInterface
    - vendor/symplify/monorepo-builder/vendor/autoload.php
    # Fix class not found errors for PhpCsFixer
    - vendor/symplify/easy-coding-standard/vendor/autoload.php
  scanFiles:
    # Allows to use this function in the global scope
    - vendor/twig/twig/src/Extension/EscaperExtension.php
    # Allows to use configuration functions in the global scope (probably not the best solution)
    - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php

includes:
  # TODO: include more rule-sets
  ##- vendor/symplify/phpstan-rules/config/array-rules.neon
  ##- vendor/symplify/phpstan-rules/config/doctrine-rules.neon
  ##- vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
  ##- vendor/symplify/phpstan-rules/config/naming-rules.neon
  - vendor/symplify/phpstan-rules/config/regex-rules.neon
  - vendor/symplify/phpstan-rules/config/services-rules.neon
  ##- vendor/symplify/phpstan-rules/config/static-rules.neon
  - vendor/symplify/phpstan-rules/config/string-to-constant-rules.neon
  - vendor/symplify/phpstan-rules/config/test-rules.neon
  #- vendor/symplify/phpstan-rules/packages/cognitive-complexity/config/cognitive-complexity-rules.neon
  - vendor/symplify/phpstan-rules/packages/symfony/config/symfony-rules.neon
  - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

services:
