/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#consent-banner-container {
  .consent-body {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgb(0 0 0 / 50%);
    }

    & > .floating-window {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999999;
      margin: 0 auto;
      width: auto;
      height: 100%;
      padding: 2em 1em;
      display: grid;
      grid-template:
        "navigation" 3em
        "banner-header" max-content
        "view-buttons" max-content
        "service-list" 2fr
        "action-buttons" 1fr;
      border-radius: 5px;
      background-color: white;

      & > .navigation {
        grid-area: navigation;
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: flex-end;

        & > button {
          position: relative;
          width: 3em;
          height: 3em;
          border: none;
          background-color: transparent;
        }

        & > .close-button {
          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0.5em;
            left: 50%;
            width: 0;
            height: 2.5em;
            display: block;
            border-left: 3px solid dodgerblue;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }

          &:hover::before,
          &:hover::after {
            border-left: 3px solid blue;
          }
        }
      }

      & > .banner-header {
        grid-area: banner-header;
        margin-bottom: 2em;

        & > .privacy-links {
          margin-top: 1em;
          display: flex;
          gap: 1em;
          align-content: flex-start;

          & > a {
            color: dodgerblue;
            text-decoration: none;

            &:hover {
              color: blue;
              text-decoration: underline;
            }
          }
        }
      }

      & > .button-list {
        grid-area: action-buttons;
        display: flex;
        flex-direction: column;
        gap: 1em;

        & > button {
          width: 100%;
          height: 3em;
          padding: 0.5em 1em;
          border: none;
          border-radius: 5px;
          box-shadow: 0 1px 2px black;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

        & > .accept-all {
          background-color: #0a387d;
          color: white;

          &:hover {
            background-color: #214f96;
          }
        }
      }

      & > .banner-status-buttons {
        grid-area: view-buttons;
        width: 100%;
        height: 2em;

        & > .category-button,
        & > .service-button {
          width: 50%;
          height: 100%;
          border: none;
          border-bottom: 1.5px solid lightgray;
          background-color: transparent;
          font-weight: bold;
          color: lightgray;

          &:hover {
            border-bottom: 1.5px solid blue;
            background-color: transparent;
            color: blue;
          }

          &:disabled {
            border-bottom: 1.5px solid dodgerblue;
            background-color: transparent;
            color: dodgerblue;
          }
        }
      }

      & > dl {
        grid-area: service-list;
        margin-top: 0;
        padding: 1em;
        overflow-y: scroll;
        scrollbar-color: black white;

        & > dt {
          padding-top: 0.5em;
          border-top: 1px solid grey;
          font-weight: bold;

          &:first-of-type {
            border-top: none;
          }
        }

        & > dd {
          margin-left: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          & > .text-container > .half-category-text {
            color: red;
          }
        }
      }
    }

    & > .docked-window {
      position: absolute;
      right: 0;
      bottom: 2vh;
      left: 0;
      z-index: 9999999;
      margin: 0 auto;
      width: 90vw;
      height: 70vh;
      display: grid;
      grid-template:
        "illustration"
        "message" 1fr
        "buttons" min-content;
      border-radius: 5px;
      background-color: white;

      & > .illustration {
        grid-area: illustration;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 12.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        border-bottom: 1px solid black;
        background-color: #a1a1a1;

        & > .cookie-element {
          content: "";
          width: 60%;
          height: 60%;
          display: block;
          background: url("../../images/cookie-logo.svg") no-repeat center;
          background-size: contain;
        }
      }

      & > .body {
        grid-area: message;
        padding: 1.5em;
      }

      & > .button-list {
        grid-area: buttons;
        padding: 1.5em;
        display: flex;
        gap: 0.5em;
        justify-content: space-between;

        & > button.accept-all {
          background-color: #0a387d;
          color: white;
        }

        & > button.preferences,
        & > button.accept-required,
        & > button.accept-all {
          padding: 1em 1.5em;
          border: none;
          border-radius: 5px;
          box-shadow: 0 1px 2px black;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

        & > .preferences {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 980px) {
  #consent-banner-container {
    .consent-body {
      & > .docked-window {
        margin-right: auto;
        margin-left: 2vw;
        width: max-content;
        max-width: 50vw;
        height: max-content;
        grid-template:
          "illustration message"
          "illustration buttons";

        & > .illustration {
          width: 15vw;
          height: 100%;
          border-right: 1px solid black;
          border-bottom: none;

          & > .cookie-element {
            content: "";
            width: 60%;
            height: 60%;
            display: block;
            background: url("../../images/cookie-logo.svg") no-repeat center;
            background-size: contain;
          }
        }

        & > .body {
          width: calc(100% - 3.5em);
          padding: 1.2em;

          & > .preferences {
            display: none;
          }
        }

        & > .button-list {
          width: calc(100% - 3em);
          padding: 0 1.2em 1.2em;
          justify-content: right;

          & > button {
            height: min-content;
            padding: 1em 1.5em;
          }

          & > .accept-all:hover {
            background-color: #214f96;
          }

          & > .preferences {
            display: block;
          }
        }
      }

      & > .floating-window {
        width: 40vw;
        padding: 3em;
        grid-template:
          "navigation" 3em
          "banner-header" 1fr
          "view-buttons" max-content
          "service-list" 4fr
          "action-buttons" 1fr;

        & > .banner-header > .privacy-links {
          margin-top: 2.5em;
        }

        & > .button-list {
          flex-direction: row;
        }
      }
    }
  }
}
