/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$main-text: white;
$secondary-text: black;
$danger-text: orange;
$main-border: black;
$secondary-border: lightgray;
$main-color: dodgerblue;
$secondary-color: #214f96;
$main-shadow: black;
$main-outline: red;

#consent-banner-container {
  font-family: sans-serif;

  .consent-body.mwt-default-style {
    & > .floating-window {
      line-height: 1.25em;

      & > .navigation > .close-button {
        &::before,
        &::after {
          border-left: 3px solid $main-color;
        }

        &:hover::before,
        &:hover::after {
          border-left: 3px solid $secondary-color;
        }

        &:focus {
          outline: 2px solid $main-outline;
          outline-offset: 3px;
        }
      }

      & > .banner-header > .privacy-links > a {
        color: $main-color;
        text-decoration: none;

        &:hover {
          color: $secondary-color;
          text-decoration: underline;
        }

        &:focus {
          outline: 2px solid $main-outline;
          outline-offset: 3px;
        }
      }

      & > .button-list {
        & > button {
          border: none;
          box-shadow: 0 0 1px $main-shadow;

          &:focus {
            outline: 2px solid $main-outline;
            outline-offset: 3px;
          }
        }

        & > .accept-all {
          background-color: $main-color;
          color: $main-text;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }

      & > .banner-status-buttons {
        & > .category-button,
        & > .service-button {
          border: none;
          border-bottom: 1.5px solid $secondary-border;
          background-color: transparent;
          color: $secondary-border;

          &:hover {
            background-color: transparent;
          }

          &:disabled {
            border-bottom: 1.5px solid $main-color;
            background-color: transparent;
            color: $main-color;
          }

          &:focus {
            outline: 2px solid $main-outline;
            outline-offset: 3px;
          }
        }
      }

      & > dl {
        border-bottom: 1.5px solid $secondary-border;

        & > .list-element {
          border-top: 1px solid grey;

          &:first-of-type {
            border-top: none;
          }

          & > dd {
            & > p.half-category-text {
              font-size: 0.8em;
              color: $danger-text;
            }
          }
        }
      }
    }

    & > .docked-window {
      border-radius: 5px;
      line-height: 1.25em;

      & > button.close-button {
        &::before,
        &::after {
          border-left: 2px solid $main-border;
        }

        &:hover::before,
        &:hover::after {
          border-left: 2px solid $main-color;
        }
      }

      & > .body > .preferences {
        padding-left: 0;
        border: none;
        background: transparent;
        font-size: 0.85em;
        color: $main-color;

        &:hover {
          color: $secondary-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      & > .button-list {
        & > button.accept-all {
          background-color: $main-color;
          color: $main-text;
        }

        & > button.accept-required,
        & > button.accept-all {
          width: 50%;
          border: none;
          border-radius: 5px;
          box-shadow: 0 0 1px $main-shadow;
        }
      }
    }

    & input[type="checkbox"] {
      position: relative;
      margin: 0;
      width: 1.2em;
      height: 1.2em;
      display: grid;
      border: 0.15em solid $main-color;
      border-radius: 0.15em;
      background-color: transparent;
      font: inherit;
      color: $secondary-text;
      transform: translateY(-0.075em);
      appearance: none;
      place-content: center;

      &::before {
        content: "";
        position: absolute;
        top: 0.1em;
        left: 0.1em;
        width: 0.7em;
        height: 0.7em;
        box-shadow: inset 1em 1em $main-text;
        transition: 120ms transform ease-in-out;
        transform: scale(0);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0.15em;
        left: 0.15em;
        width: 0.6em;
        height: 0.6em;
        box-shadow: inset 1em 1em $main-color;
        transition: 120ms transform ease-in-out;
        transform: scale(0);
      }

      &:checked {
        border-color: $main-color;
        background-color: $main-color;

        &::before {
          transform: scale(1);
        }
      }

      &:indeterminate {
        border-color: $main-color;

        &::after {
          transform: scale(1);
        }
      }

      &:disabled {
        border-color: $secondary-border;
        background-color: $secondary-border;
        cursor: not-allowed;
      }

      &:focus {
        outline: 2px solid $main-outline;
        outline-offset: 3px;
      }
    }
  }
}

@media (min-width: 980px) {
  #consent-banner-container {
    .consent-body.mwt-default-style {
      & > .docked-window {
        & > .close-button {
          top: 0.5em;
          right: 0.5em;

          &:focus {
            outline: 2px solid $main-outline;
            outline-offset: 3px;
          }
        }

        & > .body {
          display: flex;
          align-items: center;
        }

        & > .button-list {
          & > .preferences {
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 1px $main-shadow;
          }

          & > button.accept-required,
          & > button.accept-all,
          & > button.preferences {
            width: 30%;
            height: 4em;
            padding: 0.5em 1.2em;

            &:focus {
              outline: 2px solid $main-outline;
              outline-offset: 3px;
            }
          }

          & > .accept-all:hover {
            background-color: $secondary-color;
          }
        }
      }

      & > .floating-window {
        & > .navigation {
          & > .close-button {
            width: 2.5em;
            height: 2.5em;
            padding: 0;

            &::after,
            &::before {
              top: 0;
              left: calc(50% - 1px);
            }
          }
        }
      }
    }
  }
}
