/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$primary-light-color: rgb(56 189 248); // bg-sky-400
$primary-dark-color: rgb(14 165 233); // bg-sky-500

$secondary-light-color: rgb(248 250 252); // bg-slate-50
$secondary-dark-color: rgb(51 65 85); // bg-slate-700

$primary-dark-border: rgb(148 163 184); // bg-slate-400
$primary-light-outline: rgb(125 211 252); // bg-sky-300

$primary-dark-shadow: 0 1px 0.4px 0.3px rgb(0 0 0 / 20%);
$active-dark-shadow: 0 0 0.4px 0.3px rgb(0 0 0 / 20%);
$disabled-color: rgb(203 213 225); // bg-slate-300

#consent-banner-container {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  .consent-body.mwt-default-style {
    & .button-list > .accept-required,
    & .button-list > .accept-all,
    & .button-list > .preferences {
      background-color: rgb(226 232 240);
      color: $secondary-dark-color;

      &:hover {
        background-color: rgb(203 213 225);
      }

      &:active {
        box-shadow: $active-dark-shadow !important;
        transform: translateY(1.5px);
      }
    }

    & .button-list > .save-button {
      &:active {
        box-shadow: $active-dark-shadow !important;
        transform: translateY(1.5px);
      }
    }

    & .privacy-links > a {
      font-size: 0.85em;
      color: $primary-dark-color;
      text-decoration: none;

      &:first-child::after {
        color: $secondary-dark-color;
      }

      &:hover {
        text-decoration: underline;

        &::after {
          display: inline-block;
          text-decoration: none;
        }
      }

      &:focus-visible {
        outline: 2px solid $primary-light-outline;
        outline-offset: 3px;
      }
    }

    & > .floating-window {
      line-height: 1.25em;

      & > .navigation > .close-button {
        &::before,
        &::after {
          border-left: 2px solid $secondary-dark-color;
        }

        &:hover {
          cursor: pointer;

          &::before,
          &::after {
            border-left: 2px solid $primary-light-color;
          }
        }

        &:focus-visible {
          outline: 2px solid $primary-light-outline;
          outline-offset: 3px;
        }
      }

      & > .banner-header {
        & > .changed-alert {
          color: $primary-dark-color;
        }
      }

      & > .button-list {
        & > button {
          border: none;
          box-shadow: $primary-dark-shadow;

          &:focus-visible {
            outline: 2px solid $primary-light-outline;
            outline-offset: 3px;
          }
        }

        & > .save-button {
          background-color: $primary-light-color;
          color: $secondary-light-color;

          &:hover {
            background-color: $primary-dark-color;
          }
        }
      }

      & > .banner-status-buttons {
        & > .category-button,
        & > .service-button {
          border: none;
          border-bottom: 1.5px solid $primary-dark-border;
          background-color: transparent;
          color: $primary-dark-border;

          &:hover {
            background-color: transparent;
          }

          &:disabled {
            border-bottom: 1.5px solid $primary-dark-color;
            background-color: transparent;
            color: $primary-dark-color;
          }

          &:focus-visible {
            outline: 2px solid $primary-light-outline;
            outline-offset: 3px;
          }
        }
      }

      & > dl {
        border-bottom: 1.5px solid $primary-dark-border;

        & > .list-element {
          border-top: 1px solid $primary-dark-border;

          &:first-of-type {
            border-top: none;
          }

          & > dt > label > .required {
            font-weight: 400;
            color: $primary-dark-color;
          }

          & > dd {
            font-size: 0.9em;

            & > p.text-container {
              color: $secondary-dark-color;
            }

            & > p.half-category-text {
              margin-top: 0.4em;
              font-size: 0.9em;
              color: $primary-dark-color;
            }
          }
        }
      }
    }

    & > .docked-window {
      border-radius: 5px;
      line-height: 1.25em;

      @apply bg-red-500;

      & > button.close-button {
        &::before,
        &::after {
          border-left: 2px solid $secondary-dark-color;
        }

        &:hover::before,
        &:hover::after {
          border-left: 2px solid $primary-light-color;
        }
      }

      & > .body {
        & > .privacy-body {
          color: $secondary-dark-color;
        }

        & > .preferences {
          padding-left: 0;
          border: none;
          background: transparent;
          font-size: 0.85em;
          color: $primary-dark-color;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      & > .button-list {
        & > button.accept-required,
        & > button.accept-all {
          width: 50%;
          border: none;
          border-radius: 5px;
          box-shadow: $primary-dark-shadow;
        }
      }
    }

    & input[type="checkbox"] {
      position: relative;
      margin: 0;
      width: 20px;
      height: 20px;
      display: grid;
      border: 0.15em solid $primary-light-color;
      border-radius: 0.15em;
      background-color: transparent;
      font: inherit;
      color: $secondary-dark-color;
      transform: translateY(-0.075em);
      appearance: none;
      place-content: center;

      &::before {
        content: "";
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        width: 0.7em;
        height: 0.7em;
        box-shadow: inset 1em 1em $secondary-light-color;
        transition: 120ms transform ease-in-out;
        transform: scale(0);
        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        box-shadow: inset 1em 1em $primary-light-color;
        transition: 120ms transform ease-in-out;
        transform: scale(0);
      }

      &:checked {
        border-color: $primary-light-color;
        background-color: $primary-light-color;

        &::before {
          transform: scale(1);
        }
      }

      &:indeterminate {
        border-color: $primary-light-color;

        &::after {
          transform: scale(1);
        }
      }

      &:disabled {
        border-color: $disabled-color;
        background-color: $disabled-color;
        cursor: not-allowed;
      }

      &:focus-visible {
        outline: 2px solid $primary-light-outline;
        outline-offset: 3px;
      }

      &:hover:not(:disabled) {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 980px) {
  #consent-banner-container {
    .consent-body.mwt-default-style {
      & > .docked-window {
        & > .close-button {
          top: 1.2em;
          right: 1.2em;

          &:hover {
            cursor: pointer;
          }

          &:focus-visible {
            outline: 2px solid $primary-light-outline;
            outline-offset: 3px;
          }
        }

        & > .body {
          padding-bottom: 0;
        }

        & > .button-list {
          height: 4em;
          gap: 1.2em;

          & > .preferences {
            border: none;
            border-radius: 5px;
            box-shadow: $primary-dark-shadow;
          }

          & > button.accept-required,
          & > button.accept-all,
          & > button.preferences {
            width: 100%;
            height: 4em;
            padding: 0.5em 1.2em;

            &:focus-visible {
              outline: 2px solid $primary-light-outline;
              outline-offset: 3px;
            }
          }
        }
      }

      & > .floating-window {
        & > .navigation {
          & > .close-button {
            width: 2.5em;
            height: 2.5em;
            padding: 0;

            &::after,
            &::before {
              top: 0;
              left: calc(50% - 1px);
              border-left: 2px solid $secondary-dark-color;
            }

            &:hover::after,
            &:hover::before {
              border-left: 2px solid $primary-light-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
