/*
 * This file is part of the MEP Web Toolkit package.
 *
 * (c) Marco Lipparini <developer@liarco.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

 .mwt-disabled-by-privacy-preferences {
    position: relative;
    --dark-stroke: rgba(0, 0, 0, 0.6);
    --light-stroke: rgba(0, 0, 0, 0.0);

    .mwt-privacy-overlay {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2em 1em;
      width: 100%;
      height: 100%;

      background-image: repeating-linear-gradient(0.4turn, var(--dark-stroke) 0, var(--dark-stroke) 0.5px, var(--light-stroke) 1px, var(--light-stroke) 8px, var(--dark-stroke) 9px);
      text-shadow: none;

      & > div.message {
        display: inline-block;
        padding: 1em;

        color: #000!important;
        background-color: rgba(255 , 255, 255, 1)!important;
        border-radius: .5em;

        a[onclick]:hover {
          cursor: pointer;
        }
      }
    }
  }