<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {#
        The built-in consent manager root element.
        'data-endpoints' - retrieve the endpoints for the banner
        'consent-banner-trigger' - element with attached listener to open the banner
        #}
        <div id="consent-banner-container"
             data-endpoints="{{ privacy_consent_endpoints()|json_encode|e('html_attr') }}">
        </div>
        <button id="consent-banner-trigger">Open</button>
    </body>
</html>
